<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-photoshop-plain"></i>
      <p>UI & UX , Material Design ,Photoshop</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-c-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-android-plain"></i>
      <p>C & C++ , Java , Android</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-android-plain-wordmark"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Git , Android Studio , Atom >
    </div>
  </div>
</div>
