<div class="container">
  <div class="user-details">
    <h3> My Education </h3>

  </div>
  <div class="row user">
    <div class="four columns">
      <h4>School</h4>

      <p>I did my schooling for Guru Harkrishan public school,one of the reputed school in delhi and got good grades in both 10th and 12th</p>
    </div>
    <div class="four columns">
      <h4>College</h4>

      <p>Currently pursuing BTech(final year) in Computer Science from GTBIT,Inderprasth University,New Delhi</p>
    </div>
  </div>
</div>
