<div class="container">
  <div class="user-details">
    <h3> My Education </h3>

  </div>
  <div class="row user">
    <div class="four columns">
      <h4>School</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I did my schooling for Guru Harkrishan public school,one of the reputed school in delhi and got good grades in both 10th and 12th</p>
    </div>
    <div class="four columns">
      <h4>College</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Currently pursuing BTech(2nd yr) in Computer Science from GTBIT,Inderprasth University,New Delhi</p>
    </div>
    <div class="four columns">
      <h4>Rest</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Got Google Analytics Certificate(beginners)</p>
    </div>
  </div>
</div>
