<div class="container">
  <div>
    <p><br><br><br></p>
  </div> 
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/socailpages.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Social Pages </h5>
      <li> Android, SocialMedia</li>
      <p> A single Directory of all your contacts on social networks. Currently in progress, beta will be available soon.</p>
      <a class="project-link" href="https://socialpages.io/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Bop - Music Player </h5>
      <ul>
        <li> Android, Music</li>
      </ul>
      <p> A Music Player which is also currently in progress performs basic functionalities loike creating playlist and playing music with eligant UI. </p>
      <a class="project-link" href="https://github.com/iamSahdeep/Bop">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/geniez.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> GenieZ </h5>
      <ul>
        <li> Bot, WebApp</li>
      </ul>
      <p> Genie Z is your Personal Assistant present on Social Networks to handle your tasks. Currently in Alpha phase. </p>
      <a class="project-link" href="https://alpha.geniez.io/home">Check it out</a>
    </div>
  </div>
</div>
